<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Service1Soap"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:53235/SignatureService.asmx" binding="basicHttpBinding" bindingConfiguration="Service1Soap" contract="SignatureServiceStub.Service1Soap" name="Service1Soap"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
